/* global.css ou seu arquivo de estilos */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--background);
  background-color: var(--foreground);
}