@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-right: 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
  background-color: #f9f9f9;
}

aside {
  background-color: #f4f4f4;
  padding: 20px;
  width: 200px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}